<nav class="pagination">
<!--    <div class="pagination__prev">-->
<!--      <a class="pagination__pick" href="#" data-page="prev">-->
<!--        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">-->
<!--          <path-->
<!--            d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,-->
<!--            1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2-->
<!--            0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2-->
<!--            0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,-->
<!--            1.6-1.6,4.2 0,5.8l54,53.9z"/>-->
<!--        </svg>-->
<!--        <span class="blind">이전</span>-->
<!--      </a>-->
<!--    </div>-->
  <% if (page.total > 0) { %>
    <ul class="pagination__list">
      <% for (var i = 1, n = page.total; i <= n; i++) { %>
        <li class="pagination__item">
          <a
            class="pagination__pick <%= i === page.current ? 'on' : '' %>"
            href="<%= i === 1 ? url_for() : url_for(`/page/${i}`) %>"
            data-page="<%= i %>"
          >
            <% if(i === page.current) { %>
              <span><%= i %></span>
              <span class="blind">번째 페이지(현재)</span>
            <% } else { %>
              <span><%= i %></span>
              <span class="blind">번째 페이지</span>
            <% } %>
          </a>
        </li>
      <% } %>
    </ul>
  <% } %>
<!--    <div class="pagination__next">-->
<!--      <a class="pagination__pick" href="#" data-page="next">-->
<!--        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">-->
<!--          <path-->
<!--            d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,-->
<!--            1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2-->
<!--            0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8-->
<!--            1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,-->
<!--            1.6 1.6,4.2 0,5.8l-53.9,53.9z"/>-->
<!--        </svg>-->
<!--        <span class="blind">다음</span>-->
<!--      </a>-->
<!--    </div>-->
</nav>
