<!doctype html>
<html lang="<%= config.language %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= page.title ? `${page.title} | ` : '' %><%= config.title %></title>
    <% if (page.description) { %>
    <meta name="description" content="<%= page.description %>">
    <% } else { %>
    <meta name="description" content="<%= config.description %>">
    <% } %>
    <% if (page.tags && page.tags.data.length > 0) { %>
    <meta name="keywords" content="<%= config.keywords %>,<%= _.map(page.tags.data, (d) => d.name).join(',') %>">
    <% } else { %>
    <meta name="keywords" content="<%= config.keywords %>">
    <% } %>
    <% if (config.author) { %>
    <meta name="author" content="<%= config.author %>">
    <% } %>
    <%- partial('_partial/styles', {post: page}) %>
</head>
<body>
    <div class="wrapper">
        <%- body %>
        <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/scripts', {post: page}) %>
</body>
</html>
