<header class="header">
    <div class="header__inner clear">
        <div class="header__brand">
            <div class="header__profile">
                <a href="<%- url_for() %>">
                    <img class="header__picture" src="<%- url_for(`${theme.image_path}/common/author.png`) %>" alt="<%= config.author %>'s Picture"/>
                </a>
            </div>
            <div class="header__titles">
                <a href="<%- url_for() %>">
                    <h1 class="header__title"><%= config.title %></h1>
                </a>
                <p class="header__subtitle"><%= config.subtitle %></p>
            </div>
        </div>
    </div>
</header>
