<nav class="post-navigation clear">
    <div class="post-navigation__inner">
        <% const next = post.next || {} %>
        <% const prev = post.prev || {} %>
        <div class="post-navigation__prev">
            <a
                href="<%= prev.path? url_for(prev.path) : '#' %>"
                class="post-navigation__prev-link <%= _.isEmpty(prev)? 'disabled' : ''%>"
                title="<%= prev.title? prev.title : '(no title)'%>"
            >
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span>NEXT</span>
            </a>
        </div>
        <div class="post-navigation__next">
            <a
                href="<%= next.path? url_for(next.path) : '#' %>"
                class="post-navigation__next-link <%= _.isEmpty(next)? 'disabled' : ''%>"
                title="<%= next.title? next.title : '(no title)'%>"
            >
                <span>PREV</span>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</nav>
